.container {
  padding: 70px 150px;
  font-family: protendard;
  color: #fff;
}

.list_item {
  font-family: protendard;
  font-weight: 300;
  columns: #fff;
}

.title {
  font-weight: 700;
  font-size: 28px;
}
.during,
.stacks {
  font-family: 400;
  font-size: 15px;
  color: rgb(204, 204, 204);
}
.des {
  font-family: 400;
  font-size: 17px;
  color: rgb(165, 165, 165);
  padding: 20px 20px 0 0;
}
.link_ul {
  padding: 0;
}

.link_title {
  font-family: 400;
  font-size: 17px;
  color: rgb(143, 143, 143);
  margin-bottom: 5px;
}
.link_li {
  list-style: none;
  font-family: 400;
  font-size: 14px;
  color: rgb(143, 143, 143);
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgb(85, 20, 189);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: rgba(93, 33, 133, 0.33);
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .container {
    padding: 70px 100px;
  }
}
@media screen and (min-width: 1141px) and (max-width: 1280px) {
  .container {
    padding: 70px 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1140px) {
  .container {
    padding: 70px 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }
  .title {
    font-weight: 700;
    font-size: 20px;
  }
  .during,
  .stacks {
    font-family: 400;
    font-size: 12px;
    color: rgb(204, 204, 204);
  }
  .des {
    font-family: 400;
    font-size: 15px;
    color: rgb(165, 165, 165);
    padding: 20px 20px 0 0;
  }
  .link_ul {
    padding: 0;
  }

  .link_title {
    font-family: 400;
    font-size: 15px;
    color: rgb(143, 143, 143);
    margin-bottom: 5px;
  }
  .link_li {
    list-style: none;
    font-family: 400;
    font-size: 13px;
    color: rgb(143, 143, 143);
  }
}
@media screen and (max-width: 658px) {
  .container {
    padding: 0px 5px;
  }
}
