.container {
  padding: 150px 0px;
  font-family: pretendard;
  color: #fff;
}

.title_img {
  text-align: right;
}

.title {
  font-weight: 700;
  font-size: 55px;
  top: 10px;
}

.sub_title {
  font-weight: 700;
  font-size: 22px;
}

.text {
  left: 15%;
  margin-top: 50px;
}

.text > p {
  font-size: 18px;
  font-weight: 400;
}

.link {
  width: 100%;
  margin-top: 25px;
  padding-left: 15%;
}

.circle {
  border: 0px solid;
  padding: 15px 10px;
  background: #673ab7;
  background: -webkit-linear-gradient(to right, #512da8, #673ab7);
  background: linear-gradient(to right, #512da8, #673ab7);
  border-radius: 90px;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* lg와 xl 사이 어딘가 */

  .title_img {
    top: 20px;
  }

  .text {
    left: 10%;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1280px) {
  /* lg와 xl 사이 어딘가 */

  .title_img {
    top: 20px;
  }
  .text {
    left: 10%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1140px) {
  /* lg */

  .title_img {
    top: 20px;
  }
  .text {
    left: 10%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* md */
  .container {
    padding: 0px;
  }

  .title_img {
    top: 10px;
  }
  .title {
    top: 15px;
    font-size: 30px;
  }

  .sub_title {
    top: 5px;
    font-weight: 500;
    font-size: 16px;
  }
  .text {
    margin-top: 20px;
    left: 20px;
  }

  .text {
    border: 0px solid;
    padding: 20px 10px;
    background-color: rgba(41, 40, 103, 0.6);
    border-radius: 25px;
    text-align: center;
    left: 0%;
  }

  .link {
    visibility: hidden;
  }

  .circle {
    left: 24%;
    padding: 0;
    border: 0px;
    background: none;
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  /* sm */
  .container {
    padding: 5px 0;
  }

  .title_img {
    top: 10px;
    margin-left: 5px;
  }
  .title {
    top: 10px;
    font-size: 30px;
  }

  .sub_title {
    top: 0px;
    font-weight: 500;
    font-size: 16px;
  }

  .link {
    display: none;
  }
  .text {
    margin-top: 20px;
    left: 20px;
  }

  .text {
    border: 0px solid;
    padding: 20px 10px;
    background-color: rgba(41, 40, 103, 0.6);
    border-radius: 25px;
    text-align: center;
    left: 0%;
  }
}
