.row {
  width: auto;
  height: calc(var(--vh, 1vh) * 100);
  height: auto;
  position: relative;
  margin: 0 auto;
  background: radial-gradient(#482798, #00092b);
  overflow: hidden;
}

.page {
  z-index: 1000;
}

.introduce {
  z-index: 1000;
}

.nav {
  z-index: 1000;
}

.absolute {
  position: absolute;
}

.planet1 {
  top: -70px;
  left: -70px;
  z-index: 100;
}

.planet2 {
  position: absolute;
  right: -5%;
  top: 65px;
  z-index: 100;
}

.planet3 {
  left: 41.04%;
  right: 51.04%;
  top: 50.43%;
  bottom: 30.66%;
  z-index: 100;
}

.background2 {
  bottom: -200px;
  margin: 0 auto;
  left: 20px;
  z-index: 10;
}

.background1 {
  bottom: -180px;
  margin: 0 auto;
  left: -200px;
  z-index: 20;
}
.background1_turn {
  transform: rotate(-5.09deg);
  -webkit-transform: rotate(-5.09deg);
  -moz-transform: rotate(-5.09deg);
  -o-transform: rotate(-5.09deg);
}

.background1_copy {
  bottom: -130px;
  margin: 0 auto;
  right: -150px;
  z-index: 20;
}

.background1_turn_copy {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.rocket {
  top: 15%;
  z-index: 100;
  right: 18%;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .planet2 {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* md */
  .row {
    min-height: auto;
  }
  .nav {
    height: auto;
  }
  .page {
    margin-top: 4rem;
  }
  .planet2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .row {
    min-height: auto;
  }
  .nav {
    height: auto;
    margin-top: 1rem;
  }
  .page {
    margin-top: 2rem;
  }
  .planet2,
  .background1,
  .background1_copy {
    display: none;
  }
}
