.container {
  padding: 70px 150px;
  font-family: protendard;
  color: #fff;
}

.text {
  font-weight: 300;
  font-size: 20px;
  margin: 1rem 0;
}

.stack {
  margin-top: 1rem;
}
.modal {
  z-index: 7000;
  color: #fff;
}

.article {
  margin: 10px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  white-space: pre-wrap;
}
.blog {
  font-weight: 500;
  font-size: 17px;
  margin-top: 30px;
  color: rgb(202, 202, 202);
}
.link_ul {
  padding: 20px 0;
}
.link {
  list-style: none;
  font-weight: 300;
  font-size: 15px;
  color: rgb(180, 180, 180);
}

.stacks:hover {
  cursor: pointer;
  box-shadow: 8px 5px 40px rgba(33, 17, 61, 0.6);
  opacity: 0.8;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .container {
    padding: 70px 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  .container {
    padding: 70px 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .container {
    padding: 0px 30px;
  }
  .row {
    border: 0px solid;
    padding: 20px 10px;
    background-color: rgba(6, 1, 8, 0.5);
    border-radius: 25px;
    text-align: center;
    left: 0%;
  }
  .stack {
    left: 35px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 30px;
  }
  .row {
    padding: 0px;
    border: 0px solid;
    padding: 20px 10px;
    background-color: rgba(6, 1, 8, 0.5);
    border-radius: 25px;
    text-align: center;
    left: 0%;
  }
  .stack {
    left: 15px;
  }
}
@media screen and (max-width: 658px) {
  .container {
    padding: 0px;
  }
  .text {
    font-size: 13px;
    margin: 0 auto;
  }
  .stack {
    left: 5%;
  }
}
